/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}

*, *:before, *:after{
box-sizing: border-box;
}

/*我是分隔線*/
body{
    font-family: 'Noto Sans TC', sans-serif;
    line-height: 1.5;
    letter-spacing: 0.05em;
}

a{
    text-decoration: none;
    display: inline-block;
}

img{
    display: block;
    max-width: 100%;
}

p{
    color: #212529;
}

.wrap{
    max-width: 1920px;
    margin: 0 auto;
    padding: 12px;
}

.nav-container{
    max-width: 1296px;
    margin: 0 auto;
    align-items: center;
}

.d-flex{
    display: flex;
}

.jcc{
    justify-content: center;
}

.nav-left img{
    margin-right: 48px;
}

.nav-left{
    align-items: center;
}

.nav-item a{
    color: #212529;
    padding: 16px 0;
}

.nav-item a:hover{
    color: #F8F9FA;
}

.nav-item a:active{
    color: #57A203;
}

.nav-item{
    gap: 40px;
}

.nav-container .member .member{
    color: #212529;
    margin-left: auto;
    padding: 12px;
}

.nav-container a{
    margin-left: auto;
}

.main-container{
    max-width: 1296px;
    margin: 0 auto;
}

.list{
    margin-top: 32px;
}

.main-container .list p{
    color: #DEE2E6;
    font-weight: 700;
}

.main-container .list p .index{
    color: #6C757D;
    font-weight: 500;
    margin-right: 12px;
}

.main-container .list p .all{
    color: #212529;
    font-weight: 500;
    margin-left: 12px;
}

h1{
    font-size: 28px;
    font-weight: 700;
    color: #212529;
    line-height: 1.2;
    margin-top: 31px;
}

.col-2{
    width: 16.66666%;
}

aside{
    margin-top: 31px;
}

aside ul li a{
    padding: 8px 0;
    margin-bottom: 16px;
    color: #212529;
}

aside ul li a:hover{
    color: #F8F9FA;
}

aside ul li a:active{
    color: #57A203;
}

.green a{
    color: #57A203;
}

.card-container{
    max-width: 1296px;
    margin: 0 auto;
}

.col-10{
    width: 83.33333%;
}

.flex-wrap{
    flex-wrap: wrap;
}

.col-4{
    width: 33.33333%;
    padding-left: 12px;
    padding-right: 12px;
}

h2{
    font-weight: 700;
    line-height: 1.2;
    color: #212529;
}

.product{
    margin-left: -12px;
    margin-right: -12px;
}

.product-container{
    padding-left: 12px;
    padding-right: 12px;
}

.card{
    margin-bottom: 48px;
}

.square{
    padding: 10px;
    color: #212529;
}

.single{
    padding: 8px 12.5px;
    color: #212529;
}

.pagination{
    gap: 12px;
}

.left{
    color: #DEE2E6;
}

.one{
    font-weight: 500;
    background-color: #C0FA73;
}